@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.4;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.8;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.img {
    animation: blink 8s;
    animation-iteration-count: infinite;
}